* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #D4145A, #FBB03B);
}

.container {
    width: 300px;
    height: 400px;
}

.screen {
    overflow: hidden;
    height: 66px;
    color: white;
    font-size: 34px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn-container {
    display: flex;
}

.btn-container button {
    width: 75px;
    height: 66px;
    border: none;
    font-size: 32px;
}

.screen, .btn-container button {
    font-family: Arial, Helvetica, sans-serif;
}

.ac, .del {
    color:  #d9534f;
}

.operator {
    color: orange;
}

.equals {
    background-color: orange
}

.equals:active {
    background-color: darkorange;
}

button:hover {
    border: 0.5px solid black;
}

button:active {
    background-color: lightgray;
}