:root {
  height: 100%;
  --clr-1: #2E073F;
  --clr-2: #7A1CAC;
  --clr-3: #AD49E1;
  --clr-4: #EBD3F8;
}

@font-face {
  font-family: 'nato-sans-math';
  src: url('./fonts/NotoSansMath-Regular.ttf');
}

@font-face {
  font-family: 'ds-digit';
  src: url('./fonts/DS-DIGIT.TTF');
}

@font-face {
  font-family: 'ktf-roadbrush';
  src: url('./fonts/KTF-Roadbrush.ttf');
}

@font-face {
  font-family: 'trick-tag';
  src: url('./fonts/TrickTag.ttf');
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.container {
  width: 350px;
  height: 500px;
  padding: 25px;
  background-color: var(--clr-3);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  border-radius: 20px;
}

.screen {
  width: 100%;
  height: 65px;
  background-color: var(--clr-2);
  color: var(--clr-4);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2.5rem;
  font-family: 'ds-digit';
  padding-right: 8px;
}

.btn-container {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 65px;
  border-radius: 10px;
  font-size: 2.2rem;
  border: none;
  color: var(--clr-4);
}

.number, .point{
  background-color: var(--clr-1);
  font-family: 'trick-tag';
}

.operator, .equals {
  background-color: var(--clr-4);
  color: var(--clr-1);
  font-family: 'nato-sans-math';
  font-weight: bold;

}

.ac, .del {
  background-color: var(--clr-4);
  color: var(--clr-1);
  font-family: 'ktf-roadbrush';
}

button:hover {
  opacity: .5;
}

button:active {
  opacity: 1;
}